.lang-switcher {
    position: absolute;
    top: 1.5rem;
    right: 6rem;
    color: #EC9155;
  }
  
  #languageMenu button {
    background-color: transparent;
    border: none;
    font-size: 0.8rem;
    padding: 2px 6px;
    font-family: 'Fredoka', sans-serif;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
  }
  